input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #{{base08-hex}};
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #{{base08-hex}};
  border-radius: 5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #{{base12-hex}};
}

input[type=range]:focus::-moz-range-track {
  background: #{{base12-hex}};
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #{{base05-hex}};
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #{{base05-hex}};
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.switch {
  position: relative;
  width: 3.7em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2em;
  background-color: #{{base01-hex}};
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #{{base05-hex}};
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #{{base08-hex}};
}

input:focus + .slider {
  box-shadow: 0 0 1px #{{base12-hex}};;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* base16-prism (https://github.com/atelierbram/base16-prism)
  by Bram de Haan (http://atelierbramdehaan.nl)
  Copyright (c) 2024 Bram de Haan, http://atelierbramdehaan.nl

  Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the “Software”), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
  of the Software, and to permit persons to whom the Software is furnished to do
  so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
*/
code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  /* background: #{{base00-hex}}; */
  color: #{{base05-hex}};
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #{{base04-hex}};
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #{{base04-hex}};
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #{{base03-hex}};
}

.token.punctuation {
  color: #{{base05-hex}};
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #{{base09-hex}};
}
.token.property {
  color: #{{base0A-hex}};
}
.token.tag {
  color: #{{base0D-hex}};
}
.token.string {
  color: #{{base0C-hex}};
}
.token.selector {
  color: #{{base0E-hex}};
}
.token.attr-name {
  color: #{{base09-hex}};
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #{{base0C-hex}};
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #{{base0B-hex}};
}

.token.statement,
.token.regex,
.token.atrule {
  color: #{{base0C-hex}};
}

.token.placeholder,
.token.variable {
  color: #{{base0D-hex}};
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #{{base07-hex}};
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #{{base08-hex}};
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid #{{base08-hex}};
  outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #{{base01-hex}};
}

.line-numbers-rows > span:before {
  color: #{{base02-hex}};
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 * alpha transparency in 8 digits hex notation coming to a browser near you soon:
 * https://drafts.csswg.org/css-color/#hex-notation
 */
.line-highlight {
  background: #{{base05-hex}}33;
  background: linear-gradient(to right, #{{base05-hex}}33 70%, #{{base05-hex}}00);
}
