input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #{{base08-hex}};
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #{{base08-hex}};
  border-radius: 5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #{{base12-hex}};
}

input[type=range]:focus::-moz-range-track {
  background: #{{base12-hex}};
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #{{base05-hex}};
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #{{base05-hex}};
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.switch {
  position: relative;
  width: 3.7em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2em;
  background-color: #{{base01-hex}};
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #{{base05-hex}};
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #{{base08-hex}};
}

input:focus + .slider {
  box-shadow: 0 0 1px #{{base12-hex}};;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

code[class*="language-"],
pre[class*="language-"] {
  color: #{{base05-hex}};
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #{{base04-hex}};
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #{{base04-hex}};
}

span.comment,
span.prolog,
span.doctype,
span.cdata {
  color: #{{base03-hex}};
}

span.punctuation-bracket, span.punctuation-delimiter {
  color: #{{base04-hex}};
}

span.placeholder,
span.variable,
span.tag,
span.important {
  color: #{{base08-hex}};
}
span.deleted {
  color: #{{base08-hex}};
  text-decoration: line-through;
}

span.operator,
span.boolean,
span.number,
span.constant,
span.url {
  color: #{{base09-hex}};
}

span.property, span.class, span.type {
  color: #{{base0A-hex}};
}
span.important,
span.bold {
  font-weight: bold;
  color: #{{base0A-hex}};
}

span.attr-value,
span.control,
span.directive,
span.unit,
span.string {
  color: #{{base0B-hex}};
}
span.inserted {
  border-bottom: 1px dotted #{{base0B-hex}};
  text-decoration: none;
  color: #{{base0B-hex}};
}

span.statement,
span.regex,
span.atrule {
  color: #{{base0C-hex}};
}


span.function, span.attr-name {
  color: #{{base0D-hex}};
}

span.selector,
span.keyword,
span.function-method,
span.macro {
  color: #{{base0E-hex}};
}
span.italic {
  font-style: italic;
  color: #{{base0E-hex}};
}

span.entity {
  cursor: help;
}
