languages/sql/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/typescript/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/zig/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/elixir/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/java/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/nix/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/javascript/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/markdown/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/ocaml/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/python/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/bash/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/c/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/css/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/lua/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/rust/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/scala/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/tsx/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/clojure/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/html/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/json/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/c-sharp/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/cpp/grammar.wasm filter=lfs diff=lfs merge=lfs -text
languages/go/grammar.wasm filter=lfs diff=lfs merge=lfs -text
