grammars/tree-sitter-clojure.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-commonlisp.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-cpp.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-css.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-go.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-html.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-javascript.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-zig.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-c.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-java.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-ocaml.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-rust.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-sql.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-typescript.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-bash.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-c-sharp.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-lua.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-nix.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-tsx.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-elixir.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-json.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-markdown.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-python.wasm filter=lfs diff=lfs merge=lfs -text
grammars/tree-sitter-scala.wasm filter=lfs diff=lfs merge=lfs -text
